arm_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name",
            "defaultValue": "makadf"
        },
        "AmazonS31_secretAccessKey": {
            "type": "secureString",
            "metadata": "Secure string for 'secretAccessKey' of 'AmazonS31'"
        },
        "AzureDatabricks1_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
        },
        "AzureDatabricks2_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'AzureDatabricks2'"
        },
        "AzureSqlDW1_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureSqlDW1'"
        },
        "AzureStorage1_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureStorage1'"
        },
        "AzureStorage_Staging_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureStorage_Staging'"
        },
        "Databricks Blob LS_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'Databricks Blob LS'"
        },
        "Destination_SQLDW_kwy_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'Destination_SQLDW_kwy'"
        },
        "Source_SQLDW_kwy_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'Source_SQLDW_kwy'"
        },
        "linkedService1_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'linkedService1'"
        },
        "AmazonS32_secretAccessKey": {
            "type": "secureString",
            "metadata": "Secure string for 'secretAccessKey' of 'AmazonS32'"
        },
        "SqlDB_WM_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'SqlDB_WM'"
        },
        "WaterMeas_Blob_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "July2001-Dec2001.tsv"
        },
        "WaterMeas_Blob_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "environment/NOAA WASH"
        },
        "Drought_Meas_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "dm_export_20100101_20180326.tsv"
        },
        "Drought_Meas_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "environment/Drought"
        },
        "Databricks_Blob_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "part-00000-tid-6587081926162300554-0f3b1af3-5cfc-4ad7-9247-7f1070cb1791-1841-c000.csv"
        },
        "Databricks_Blob_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "mycontainer"
        },
        "Drought Meas Params_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": "@dataset().DFile"
        },
        "Drought Meas Params_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "@dataset().DPath"
        },
        "IncBlob_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": ""
        },
        "IncBlob_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "adfstagingcopydata"
        },
        "integrationRuntime2_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
            "type": "secureString"
        },
        "AmazonS31_properties_typeProperties_accessKeyId": {
            "type": "string",
            "defaultValue": "AKIAJHJOC6ITSHA22RGQ"
        },
        "linkedService1_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "makromer@microsoft.com"
        },
        "AmazonS32_properties_typeProperties_accessKeyId": {
            "type": "string",
            "defaultValue": "AKIAIMDTG4LHXFE2WTSA"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "leftBracket": "["
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Water Demo Pipeline MAIN')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Primary pipeline used in demo",
                "activities": [
                    {
                        "name": "Aggregate on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Load NOAA Water",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "/Users/makromer@microsoft.com/adftutorial/myscalanotebook",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load Weather",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "cod: cod, message: nmessage, cnt: cnt, list: list, city.id: cityid, city.name: cityname, city.country: citycountry, city.coord.lat: citycoordlat, city.coord.lon: citycoordlon"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Weather_Http",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Weather",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Counties",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Weather",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "FileSystemSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "countyname: countyname, fips: fips"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "CountyName_AWS",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Counties",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Drought",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Counties",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ReleaseDate: ReleaseDate, FIPS: FIPS, County: County, State: State, None: None, D0: D0, D1: D1, D2: D2, D3: D3, D4: D4, ValidStart: ValidStart, ValidEnd: ValidEnd, StatisticFormatID: StatisticFormatID"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Drought_Meas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load Drought",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load NOAA Water",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Drought",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "STATION: STATION, NAME: NAME, LATITUDE: LATITUDE, LONGITUDE: LONGITUDE, ELEVATION: ELEVATION, DATE: DATE, DAPR: DAPR, DAPR_ATTRIBUTES: DAPR_ATTRIBUTES, DASF: DASF, DASF_ATTRIBUTES: DASF_ATTRIBUTES, MDPR: MDPR, MDPR_ATTRIBUTES: MDPR_ATTRIBUTES, MDSF: MDSF, MDSF_ATTRIBUTES: MDSF_ATTRIBUTES, PRCP: PRCP, PRCP_ATTRIBUTES: PRCP_ATTRIBUTES, SNOW: SNOW, SNOW_ATTRIBUTES: SNOW_ATTRIBUTES, SNWD: SNWD, SNWD_ATTRIBUTES: SNWD_ATTRIBUTES, TAVG: TAVG, TAVG_ATTRIBUTES: TAVG_ATTRIBUTES, TMAX: TMAX, TMAX_ATTRIBUTES: TMAX_ATTRIBUTES, TMIN: TMIN, TMIN_ATTRIBUTES: TMIN_ATTRIBUTES, TOBS: TOBS, TOBS_ATTRIBUTES: TOBS_ATTRIBUTES"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "WaterMeas_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load NOAA Water",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Aggregate on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Load County Buckets to DW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "BUCKET_PRCP_ATTRIBUTES"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load County Buckets to DW",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "FIPS_RANGE: FIPS_range, FCount: FCount"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Databricks_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DW County Buckets",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Send Failure Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-29.westus.logic.azure.com:443/workflows/be21e2dae40c4585ac709cdd5570e410/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nhWaehatIPJRUF4beWdwWku_5YwYd-z8Rl-GZPYguwk",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "Send Success Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-57.westus.logic.azure.com:443/workflows/a1ac9ff188cb4d92b7db128ac0e43091/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6E7r6WcboyXijEfyuRzEMfmVJgYj-MGHuQtQAUL6S8k",
                            "method": "POST",
                            "headers": {}
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]",
                "[concat(variables('factoryId'), '/datasets/Weather_Http')]",
                "[concat(variables('factoryId'), '/datasets/Load_Weather')]",
                "[concat(variables('factoryId'), '/datasets/CountyName_AWS')]",
                "[concat(variables('factoryId'), '/datasets/Load_Counties')]",
                "[concat(variables('factoryId'), '/datasets/Drought_Meas')]",
                "[concat(variables('factoryId'), '/datasets/Load Drought')]",
                "[concat(variables('factoryId'), '/datasets/WaterMeas_Blob')]",
                "[concat(variables('factoryId'), '/datasets/Load NOAA Water')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]",
                "[concat(variables('factoryId'), '/datasets/Databricks_Blob')]",
                "[concat(variables('factoryId'), '/datasets/DW County Buckets')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage_Staging')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Water Pipeline Loops')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "This pipeline demonstrates how you would loop through a series of files when loading many files on a schedule",
                "activities": [
                    {
                        "name": "Aggregate on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Load NOAA Water",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "/Users/makromer@microsoft.com/adftutorial/myscalanotebook",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load Weather",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "ForEachLoop Load Drought",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "cod: cod, message: nmessage, cnt: cnt, list: list, city.id: cityid, city.name: cityname, city.country: citycountry, city.coord.lat: citycoordlat, city.coord.lon: citycoordlon"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Weather_Http",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Weather",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Counties",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Weather",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "FileSystemSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "countyname: countyname, fips: fips"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "CountyName_AWS",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Counties",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load NOAA Water",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Counties",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "STATION: STATION, NAME: NAME, LATITUDE: LATITUDE, LONGITUDE: LONGITUDE, ELEVATION: ELEVATION, DATE: DATE, DAPR: DAPR, DAPR_ATTRIBUTES: DAPR_ATTRIBUTES, DASF: DASF, DASF_ATTRIBUTES: DASF_ATTRIBUTES, MDPR: MDPR, MDPR_ATTRIBUTES: MDPR_ATTRIBUTES, MDSF: MDSF, MDSF_ATTRIBUTES: MDSF_ATTRIBUTES, PRCP: PRCP, PRCP_ATTRIBUTES: PRCP_ATTRIBUTES, SNOW: SNOW, SNOW_ATTRIBUTES: SNOW_ATTRIBUTES, SNWD: SNWD, SNWD_ATTRIBUTES: SNWD_ATTRIBUTES, TAVG: TAVG, TAVG_ATTRIBUTES: TAVG_ATTRIBUTES, TMAX: TMAX, TMAX_ATTRIBUTES: TMAX_ATTRIBUTES, TMIN: TMIN, TMIN_ATTRIBUTES: TMIN_ATTRIBUTES, TOBS: TOBS, TOBS_ATTRIBUTES: TOBS_ATTRIBUTES"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "WaterMeas_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load NOAA Water",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Aggregate on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Load County Buckets to DW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "BUCKET_PRCP_ATTRIBUTES"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load County Buckets to DW",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "FIPS_RANGE: FIPS_range, FCount: FCount"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Databricks_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DW County Buckets",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Send Failure Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-29.westus.logic.azure.com:443/workflows/be21e2dae40c4585ac709cdd5570e410/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nhWaehatIPJRUF4beWdwWku_5YwYd-z8Rl-GZPYguwk",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "Send Success Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-57.westus.logic.azure.com:443/workflows/a1ac9ff188cb4d92b7db128ac0e43091/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6E7r6WcboyXijEfyuRzEMfmVJgYj-MGHuQtQAUL6S8k",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "ForEachLoop Load Drought",
                        "type": "ForEach",
                        "dependsOn": [],
                        "typeProperties": {
                            "items": {
                                "value": "@pipeline().parameters.DroughtFiles",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Multiple Copy",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false
                                    },
                                    "typeProperties": {
                                        "source": {
                                            "type": "BlobSource",
                                            "recursive": false
                                        },
                                        "sink": {
                                            "type": "SqlDWSink",
                                            "allowPolyBase": true,
                                            "writeBatchSize": 10000,
                                            "polyBaseSettings": {
                                                "rejectValue": 0,
                                                "rejectType": "value",
                                                "useTypeDefault": true
                                            }
                                        },
                                        "enableStaging": true,
                                        "stagingSettings": {
                                            "linkedServiceName": {
                                                "referenceName": "AzureStorage_Staging",
                                                "type": "LinkedServiceReference"
                                            },
                                            "path": "mycontainer"
                                        },
                                        "cloudDataMovementUnits": 0,
                                        "enableSkipIncompatibleRow": true,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "columnMappings": "ReleaseDate: cod, FIPS: nmessage, County: cnt, State: list, None: cityid, D0: cityname, D1: citycountry, D2: citycoordlat, D3: citycoordlon"
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "Drought_Meas",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "Load_Weather",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "parameters": {
                    "DroughtFiles": {
                        "type": "Array",
                        "defaultValue": [
                            {
                                "file": "dm_export_20100101_20180326.tsv"
                            },
                            {
                                "file": "dm_export_20100101_20180326.tsv"
                            }
                        ]
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]",
                "[concat(variables('factoryId'), '/datasets/Weather_Http')]",
                "[concat(variables('factoryId'), '/datasets/Load_Weather')]",
                "[concat(variables('factoryId'), '/datasets/CountyName_AWS')]",
                "[concat(variables('factoryId'), '/datasets/Load_Counties')]",
                "[concat(variables('factoryId'), '/datasets/WaterMeas_Blob')]",
                "[concat(variables('factoryId'), '/datasets/Load NOAA Water')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]",
                "[concat(variables('factoryId'), '/datasets/Databricks_Blob')]",
                "[concat(variables('factoryId'), '/datasets/DW County Buckets')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage_Staging')]",
                "[concat(variables('factoryId'), '/datasets/Drought_Meas')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Copy DW to DW')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Demonstration of the Copy Wizard to copy from DW to DW",
                "activities": [
                    {
                        "name": "Copy_dbo_Cardinals",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 100,
                                    "rejectType": "percentage",
                                    "rejectSampleValue": 1000,
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage1",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "adfstagingcopydata"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "digit: digit"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "dbo_Cardinals_i_kwy",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "dbo_Cardinals_o_kwy",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy_dbo_PopulationByCountryAndYear1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 100,
                                    "rejectType": "percentage",
                                    "rejectSampleValue": 1000,
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage1",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "adfstagingcopydata"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "Country Name: Country Name, IYEAR: IYEAR, Population: Population"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "dbo_PopulationByCountryAndYear1_i_kwy",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "dbo_PopulationByCountryAndYear1_o_kwy",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/dbo_Cardinals_i_kwy')]",
                "[concat(variables('factoryId'), '/datasets/dbo_Cardinals_o_kwy')]",
                "[concat(variables('factoryId'), '/datasets/dbo_PopulationByCountryAndYear1_i_kwy')]",
                "[concat(variables('factoryId'), '/datasets/dbo_PopulationByCountryAndYear1_o_kwy')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Test Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Just a dummy pipeline used for unit tests",
                "activities": [
                    {
                        "name": "Web1",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "http://www.yahoo.com",
                            "method": "GET",
                            "headers": {}
                        }
                    }
                ],
                "parameters": {
                    "inputtables": {
                        "type": "String",
                        "defaultValue": {
                            "inputtables": [
                                {
                                    "SourceTable": "department",
                                    "SourceTableStructure": [
                                        {
                                            "name": "departmentid",
                                            "type": "int"
                                        },
                                        {
                                            "name": "departmentname",
                                            "type": "string"
                                        }
                                    ],
                                    "DestTable": "department2",
                                    "DestTableStructure": [
                                        {
                                            "name": "departmentid",
                                            "type": "int"
                                        },
                                        {
                                            "name": "departmentname",
                                            "type": "string"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Water Demo Pipeline TEMPLATE')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Use this pipeline to play around with sample data loading",
                "activities": [
                    {
                        "name": "Aggregate on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Load NOAA Water",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "/Users/makromer@microsoft.com/adftutorial/myscalanotebook",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load Weather",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "cod: cod, message: nmessage, cnt: cnt, list: list, city.id: cityid, city.name: cityname, city.country: citycountry, city.coord.lat: citycoordlat, city.coord.lon: citycoordlon"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Weather_Http",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Weather",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Counties",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Weather",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "FileSystemSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "countyname: countyname, fips: fips"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "CountyName_AWS",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Counties",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Drought",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Counties",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ReleaseDate: ReleaseDate, FIPS: FIPS, County: County, State: State, None: None, D0: D0, D1: D1, D2: D2, D3: D3, D4: D4, ValidStart: ValidStart, ValidEnd: ValidEnd, StatisticFormatID: StatisticFormatID"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Drought_Meas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load Drought",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load NOAA Water",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Drought",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "STATION: STATION, NAME: NAME, LATITUDE: LATITUDE, LONGITUDE: LONGITUDE, ELEVATION: ELEVATION, DATE: DATE, DAPR: DAPR, DAPR_ATTRIBUTES: DAPR_ATTRIBUTES, DASF: DASF, DASF_ATTRIBUTES: DASF_ATTRIBUTES, MDPR: MDPR, MDPR_ATTRIBUTES: MDPR_ATTRIBUTES, MDSF: MDSF, MDSF_ATTRIBUTES: MDSF_ATTRIBUTES, PRCP: PRCP, PRCP_ATTRIBUTES: PRCP_ATTRIBUTES, SNOW: SNOW, SNOW_ATTRIBUTES: SNOW_ATTRIBUTES, SNWD: SNWD, SNWD_ATTRIBUTES: SNWD_ATTRIBUTES, TAVG: TAVG, TAVG_ATTRIBUTES: TAVG_ATTRIBUTES, TMAX: TMAX, TMAX_ATTRIBUTES: TMAX_ATTRIBUTES, TMIN: TMIN, TMIN_ATTRIBUTES: TMIN_ATTRIBUTES, TOBS: TOBS, TOBS_ATTRIBUTES: TOBS_ATTRIBUTES"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "WaterMeas_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load NOAA Water",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Aggregate on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Load County Buckets to DW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "BUCKET_PRCP_ATTRIBUTES"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load County Buckets to DW",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "FIPS_RANGE: FIPS_range, FCount: FCount"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Databricks_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DW County Buckets",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Send Success Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-29.westus.logic.azure.com:443/workflows/be21e2dae40c4585ac709cdd5570e410/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nhWaehatIPJRUF4beWdwWku_5YwYd-z8Rl-GZPYguwk",
                            "method": "POST",
                            "headers": {},
                            "body": {}
                        }
                    },
                    {
                        "name": "Send Failure Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-57.westus.logic.azure.com:443/workflows/a1ac9ff188cb4d92b7db128ac0e43091/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6E7r6WcboyXijEfyuRzEMfmVJgYj-MGHuQtQAUL6S8k",
                            "method": "POST",
                            "headers": {}
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]",
                "[concat(variables('factoryId'), '/datasets/Weather_Http')]",
                "[concat(variables('factoryId'), '/datasets/Load_Weather')]",
                "[concat(variables('factoryId'), '/datasets/CountyName_AWS')]",
                "[concat(variables('factoryId'), '/datasets/Load_Counties')]",
                "[concat(variables('factoryId'), '/datasets/Drought_Meas')]",
                "[concat(variables('factoryId'), '/datasets/Load Drought')]",
                "[concat(variables('factoryId'), '/datasets/WaterMeas_Blob')]",
                "[concat(variables('factoryId'), '/datasets/Load NOAA Water')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]",
                "[concat(variables('factoryId'), '/datasets/Databricks_Blob')]",
                "[concat(variables('factoryId'), '/datasets/DW County Buckets')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage_Staging')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Pipeline with Predictions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Demonstrating how to add predictions in pipeline",
                "activities": [
                    {
                        "name": "Aggregate on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Load NOAA Water",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "/Users/makromer@microsoft.com/adftutorial/myscalanotebook",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load Weather",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "cod: cod, message: nmessage, cnt: cnt, list: list, city.id: cityid, city.name: cityname, city.country: citycountry, city.coord.lat: citycoordlat, city.coord.lon: citycoordlon"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Weather_Http",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Weather",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Counties",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Weather",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "FileSystemSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "countyname: countyname, fips: fips"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "CountyName_AWS",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Counties",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Drought",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Counties",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ReleaseDate: ReleaseDate, FIPS: FIPS, County: County, State: State, None: None, D0: D0, D1: D1, D2: D2, D3: D3, D4: D4, ValidStart: ValidStart, ValidEnd: ValidEnd, StatisticFormatID: StatisticFormatID"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Drought_Meas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load Drought",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load NOAA Water",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Drought",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "STATION: STATION, NAME: NAME, LATITUDE: LATITUDE, LONGITUDE: LONGITUDE, ELEVATION: ELEVATION, DATE: DATE, DAPR: DAPR, DAPR_ATTRIBUTES: DAPR_ATTRIBUTES, DASF: DASF, DASF_ATTRIBUTES: DASF_ATTRIBUTES, MDPR: MDPR, MDPR_ATTRIBUTES: MDPR_ATTRIBUTES, MDSF: MDSF, MDSF_ATTRIBUTES: MDSF_ATTRIBUTES, PRCP: PRCP, PRCP_ATTRIBUTES: PRCP_ATTRIBUTES, SNOW: SNOW, SNOW_ATTRIBUTES: SNOW_ATTRIBUTES, SNWD: SNWD, SNWD_ATTRIBUTES: SNWD_ATTRIBUTES, TAVG: TAVG, TAVG_ATTRIBUTES: TAVG_ATTRIBUTES, TMAX: TMAX, TMAX_ATTRIBUTES: TMAX_ATTRIBUTES, TMIN: TMIN, TMIN_ATTRIBUTES: TMIN_ATTRIBUTES, TOBS: TOBS, TOBS_ATTRIBUTES: TOBS_ATTRIBUTES"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "WaterMeas_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load NOAA Water",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Aggregate on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Load County Buckets to DW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "BUCKET_PRCP_ATTRIBUTES"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load County Buckets to DW",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "FIPS_RANGE: FIPS_range, FCount: FCount"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Databricks_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DW County Buckets",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Send Failure Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Predict on Spark",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-29.westus.logic.azure.com:443/workflows/be21e2dae40c4585ac709cdd5570e410/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nhWaehatIPJRUF4beWdwWku_5YwYd-z8Rl-GZPYguwk",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "Send Success Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Predict on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-57.westus.logic.azure.com:443/workflows/a1ac9ff188cb4d92b7db128ac0e43091/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6E7r6WcboyXijEfyuRzEMfmVJgYj-MGHuQtQAUL6S8k",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "Predict Populations on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "[concat(variables('leftBracket'), 'dbo].[PREDICT_POPULATION]')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Predict on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Predict Populations on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "/Users/makromer@microsoft.com/adftutorial/markds001",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]",
                "[concat(variables('factoryId'), '/datasets/Weather_Http')]",
                "[concat(variables('factoryId'), '/datasets/Load_Weather')]",
                "[concat(variables('factoryId'), '/datasets/CountyName_AWS')]",
                "[concat(variables('factoryId'), '/datasets/Load_Counties')]",
                "[concat(variables('factoryId'), '/datasets/Drought_Meas')]",
                "[concat(variables('factoryId'), '/datasets/Load Drought')]",
                "[concat(variables('factoryId'), '/datasets/WaterMeas_Blob')]",
                "[concat(variables('factoryId'), '/datasets/Load NOAA Water')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]",
                "[concat(variables('factoryId'), '/datasets/Databricks_Blob')]",
                "[concat(variables('factoryId'), '/datasets/DW County Buckets')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage_Staging')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Incremental Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Demonstrate how to make these file loading processes into an incremental daily process",
                "activities": [
                    {
                        "name": "Lookup Old WM",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlSource"
                            },
                            "dataset": {
                                "referenceName": "DS_LookupWM",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": true
                        }
                    },
                    {
                        "name": "Lookup New WM",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlSource",
                                "sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from data_source_table"
                            },
                            "dataset": {
                                "referenceName": "DS_NewWM",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": true
                        }
                    },
                    {
                        "name": "Copy1",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Lookup Old WM",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Lookup New WM",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "SqlSource",
                                "sqlReaderQuery": {
                                    "value": "select * from data_source_table where LastModifytime > '@{activity('Lookup Old WM').output.firstRow.WatermarkValue}' and LastModifytime <= '@{activity('Lookup New WM').output.firstRow.NewWatermarkvalue}'",
                                    "type": "Expression"
                                }
                            },
                            "sink": {
                                "type": "BlobSink"
                            },
                            "enableStaging": false,
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_NewWM",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "IncBlob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_LookupWM')]",
                "[concat(variables('factoryId'), '/datasets/DS_NewWM')]",
                "[concat(variables('factoryId'), '/datasets/IncBlob')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CountyName_AWS')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "County names files are on AWS S3",
                "linkedServiceName": {
                    "referenceName": "AmazonS32",
                    "type": "LinkedServiceReference"
                },
                "type": "AmazonS3Object",
                "structure": [
                    {
                        "name": "countyname",
                        "type": "String"
                    },
                    {
                        "name": "fips",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": false
                    },
                    "key": "County.csv",
                    "prefix": "",
                    "bucketName": "adflab2"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AmazonS32')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/WaterMeas_Blob')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureStorage1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "STATION",
                        "type": "String"
                    },
                    {
                        "name": "NAME",
                        "type": "String"
                    },
                    {
                        "name": "LATITUDE",
                        "type": "String"
                    },
                    {
                        "name": "LONGITUDE",
                        "type": "String"
                    },
                    {
                        "name": "ELEVATION",
                        "type": "String"
                    },
                    {
                        "name": "DATE",
                        "type": "String"
                    },
                    {
                        "name": "DAPR",
                        "type": "String"
                    },
                    {
                        "name": "DAPR_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "DASF",
                        "type": "String"
                    },
                    {
                        "name": "DASF_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "MDPR",
                        "type": "String"
                    },
                    {
                        "name": "MDPR_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "MDSF",
                        "type": "String"
                    },
                    {
                        "name": "MDSF_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "PRCP",
                        "type": "String"
                    },
                    {
                        "name": "PRCP_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "SNOW",
                        "type": "String"
                    },
                    {
                        "name": "SNOW_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "SNWD",
                        "type": "String"
                    },
                    {
                        "name": "SNWD_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TAVG",
                        "type": "String"
                    },
                    {
                        "name": "TAVG_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TMAX",
                        "type": "String"
                    },
                    {
                        "name": "TMAX_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TMIN",
                        "type": "String"
                    },
                    {
                        "name": "TMIN_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TOBS",
                        "type": "String"
                    },
                    {
                        "name": "TOBS_ATTRIBUTES",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": "\t",
                        "rowDelimiter": "\n",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": true
                    },
                    "fileName": "[parameters('WaterMeas_Blob_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('WaterMeas_Blob_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Weather_Http')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Connects to REST API for weather service",
                "linkedServiceName": {
                    "referenceName": "HttpServer1",
                    "type": "LinkedServiceReference"
                },
                "type": "HttpFile",
                "structure": [
                    {
                        "name": "cod",
                        "type": "String"
                    },
                    {
                        "name": "message",
                        "type": "Double"
                    },
                    {
                        "name": "cnt",
                        "type": "Int64"
                    },
                    {
                        "name": "list",
                        "type": "String"
                    },
                    {
                        "name": "city.id",
                        "type": "Int64"
                    },
                    {
                        "name": "city.name",
                        "type": "String"
                    },
                    {
                        "name": "city.country",
                        "type": "String"
                    },
                    {
                        "name": "city.coord.lat",
                        "type": "Double"
                    },
                    {
                        "name": "city.coord.lon",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "JsonFormat",
                        "filePattern": "setOfObjects",
                        "jsonPathDefinition": {
                            "cod": "$.['cod']",
                            "message": "$.['message']",
                            "cnt": "$.['cnt']",
                            "city.id": "$.['city']['id']",
                            "city.name": "$.['city']['name']",
                            "city.country": "$.['city']['country']",
                            "city.coord.lat": "$.['city']['coord']['lat']",
                            "city.coord.lon": "$.['city']['coord']['lon']"
                        }
                    },
                    "requestMethod": "Get"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Load_Weather')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "cod",
                        "type": "String"
                    },
                    {
                        "name": "nmessage",
                        "type": "Double"
                    },
                    {
                        "name": "cnt",
                        "type": "Int32"
                    },
                    {
                        "name": "list",
                        "type": "String"
                    },
                    {
                        "name": "cityid",
                        "type": "Int32"
                    },
                    {
                        "name": "cityname",
                        "type": "String"
                    },
                    {
                        "name": "citycountry",
                        "type": "String"
                    },
                    {
                        "name": "citycoordlat",
                        "type": "Double"
                    },
                    {
                        "name": "citycoordlon",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[Weather]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Load_Counties')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "countyname",
                        "type": "String"
                    },
                    {
                        "name": "fips",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[Counties]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Drought_Meas')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Drought files on Blob Store",
                "linkedServiceName": {
                    "referenceName": "AzureStorage1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "ReleaseDate",
                        "type": "String"
                    },
                    {
                        "name": "FIPS",
                        "type": "String"
                    },
                    {
                        "name": "County",
                        "type": "String"
                    },
                    {
                        "name": "State",
                        "type": "String"
                    },
                    {
                        "name": "None",
                        "type": "String"
                    },
                    {
                        "name": "D0",
                        "type": "String"
                    },
                    {
                        "name": "D1",
                        "type": "String"
                    },
                    {
                        "name": "D2",
                        "type": "String"
                    },
                    {
                        "name": "D3",
                        "type": "String"
                    },
                    {
                        "name": "D4",
                        "type": "String"
                    },
                    {
                        "name": "ValidStart",
                        "type": "String"
                    },
                    {
                        "name": "ValidEnd",
                        "type": "String"
                    },
                    {
                        "name": "StatisticFormatID",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": "\t",
                        "rowDelimiter": "",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": true
                    },
                    "fileName": "[parameters('Drought_Meas_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('Drought_Meas_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Load Drought')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "ReleaseDate",
                        "type": "String"
                    },
                    {
                        "name": "FIPS",
                        "type": "String"
                    },
                    {
                        "name": "County",
                        "type": "String"
                    },
                    {
                        "name": "State",
                        "type": "String"
                    },
                    {
                        "name": "None",
                        "type": "Double"
                    },
                    {
                        "name": "D0",
                        "type": "Double"
                    },
                    {
                        "name": "D1",
                        "type": "Double"
                    },
                    {
                        "name": "D2",
                        "type": "Double"
                    },
                    {
                        "name": "D3",
                        "type": "Double"
                    },
                    {
                        "name": "D4",
                        "type": "Double"
                    },
                    {
                        "name": "ValidStart",
                        "type": "String"
                    },
                    {
                        "name": "ValidEnd",
                        "type": "String"
                    },
                    {
                        "name": "StatisticFormatID",
                        "type": "Int32"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[Drought]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Load NOAA Water')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "STATION",
                        "type": "String"
                    },
                    {
                        "name": "NAME",
                        "type": "String"
                    },
                    {
                        "name": "LATITUDE",
                        "type": "String"
                    },
                    {
                        "name": "LONGITUDE",
                        "type": "String"
                    },
                    {
                        "name": "ELEVATION",
                        "type": "String"
                    },
                    {
                        "name": "DATE",
                        "type": "String"
                    },
                    {
                        "name": "DAPR",
                        "type": "String"
                    },
                    {
                        "name": "DAPR_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "DASF",
                        "type": "String"
                    },
                    {
                        "name": "DASF_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "MDPR",
                        "type": "String"
                    },
                    {
                        "name": "MDPR_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "MDSF",
                        "type": "String"
                    },
                    {
                        "name": "MDSF_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "PRCP",
                        "type": "String"
                    },
                    {
                        "name": "PRCP_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "SNOW",
                        "type": "String"
                    },
                    {
                        "name": "SNOW_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "SNWD",
                        "type": "String"
                    },
                    {
                        "name": "SNWD_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TAVG",
                        "type": "String"
                    },
                    {
                        "name": "TAVG_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TMAX",
                        "type": "String"
                    },
                    {
                        "name": "TMAX_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TMIN",
                        "type": "String"
                    },
                    {
                        "name": "TMIN_ATTRIBUTES",
                        "type": "String"
                    },
                    {
                        "name": "TOBS",
                        "type": "String"
                    },
                    {
                        "name": "TOBS_ATTRIBUTES",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[NOAA]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Databricks_Blob')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Blob store location for the Databricks files",
                "linkedServiceName": {
                    "referenceName": "Databricks Blob LS",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "FIPS_RANGE",
                        "type": "String"
                    },
                    {
                        "name": "FCount",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "\n",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": true
                    },
                    "fileName": "[parameters('Databricks_Blob_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('Databricks_Blob_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Databricks Blob LS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DW County Buckets')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "FIPS_range",
                        "type": "String"
                    },
                    {
                        "name": "FCount",
                        "type": "Int32"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[COUNTY_COUNTS]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Drought Meas Params')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Parameterized example for looping through multiple files",
                "linkedServiceName": {
                    "referenceName": "AzureStorage1",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "DPath": {
                        "type": "String",
                        "defaultValue": "environment/Drought"
                    },
                    "DFile": {
                        "type": "String",
                        "defaultValue": "dm_export_20100101_20180326.tsv"
                    }
                },
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "ReleaseDate",
                        "type": "String"
                    },
                    {
                        "name": "FIPS",
                        "type": "String"
                    },
                    {
                        "name": "County",
                        "type": "String"
                    },
                    {
                        "name": "State",
                        "type": "String"
                    },
                    {
                        "name": "None",
                        "type": "String"
                    },
                    {
                        "name": "D0",
                        "type": "String"
                    },
                    {
                        "name": "D1",
                        "type": "String"
                    },
                    {
                        "name": "D2",
                        "type": "String"
                    },
                    {
                        "name": "D3",
                        "type": "String"
                    },
                    {
                        "name": "D4",
                        "type": "String"
                    },
                    {
                        "name": "ValidStart",
                        "type": "String"
                    },
                    {
                        "name": "ValidEnd",
                        "type": "String"
                    },
                    {
                        "name": "StatisticFormatID",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": "\t",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": true
                    },
                    "fileName": {
                        "value": "[parameters('Drought Meas Params_properties_typeProperties_fileName')]",
                        "type": "Expression"
                    },
                    "folderPath": {
                        "value": "[parameters('Drought Meas Params_properties_typeProperties_folderPath')]",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/dbo_PopulationByCountryAndYear1_o_kwy')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Destination_SQLDW_kwy",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "Country Name",
                        "type": "String"
                    },
                    {
                        "name": "IYEAR",
                        "type": "Int32"
                    },
                    {
                        "name": "Population",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[PopulationByCountryAndYear1]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Destination_SQLDW_kwy')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/dbo_Cardinals_i_kwy')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Part of copy wizard sample",
                "linkedServiceName": {
                    "referenceName": "Source_SQLDW_kwy",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "digit",
                        "type": "Int32"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[Cardinals]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Source_SQLDW_kwy')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/dbo_PopulationByCountryAndYear1_i_kwy')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Source_SQLDW_kwy",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "Country Name",
                        "type": "String"
                    },
                    {
                        "name": "IYEAR",
                        "type": "Int32"
                    },
                    {
                        "name": "Population",
                        "type": "Double"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[PopulationByCountryAndYear1]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Source_SQLDW_kwy')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/dbo_Cardinals_o_kwy')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Part of copy wizard sample",
                "linkedServiceName": {
                    "referenceName": "Destination_SQLDW_kwy",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "digit",
                        "type": "Int32"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[Cardinals]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/Destination_SQLDW_kwy')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HttpFile1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Sample for acquiring Web based data",
                "linkedServiceName": {
                    "referenceName": "linkedService1",
                    "type": "LinkedServiceReference"
                },
                "type": "HttpFile",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "nullValue": "\\N",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": false
                    },
                    "requestMethod": "Get"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_NewWM')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "SqlDB_WM",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[data_source_table]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/SqlDB_WM')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_LookupWM')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "SqlDB_WM",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'dbo].[watermarktable]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/SqlDB_WM')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/IncBlob')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureStorage1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureBlob",
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": ",",
                        "rowDelimiter": "",
                        "nullValue": "\\N",
                        "treatEmptyAsNull": true,
                        "firstRowAsHeader": false
                    },
                    "fileName": "[parameters('IncBlob_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('IncBlob_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "East US"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "East US",
                        "nodeSize": "Standard_D4_v2",
                        "numberOfNodes": 1,
                        "maxParallelExecutionsPerNode": 1
                    },
                    "ssisProperties": {
                        "catalogInfo": {
                            "catalogServerEndpoint": "maksqldb.database.windows.net",
                            "catalogAdminUserName": "kromerm",
                            "catalogAdminPassword": {
                                "type": "SecureString",
                                "value": "[parameters('integrationRuntime2_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
                            },
                            "catalogPricingTier": "Basic"
                        },
                        "edition": "Standard",
                        "licenseType": "LicenseIncluded"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/integrationRuntime3')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "SelfHosted",
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AmazonS31')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AmazonS3",
                "typeProperties": {
                    "accessKeyId": "[parameters('AmazonS31_properties_typeProperties_accessKeyId')]",
                    "secretAccessKey": {
                        "type": "SecureString",
                        "value": "[parameters('AmazonS31_secretAccessKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://eastus.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDatabricks1_accessToken')]"
                    },
                    "newClusterNodeType": "Standard_D3_v2",
                    "newClusterNumOfWorker": "1",
                    "newClusterVersion": "4.0.x-scala2.11"
                },
                "connectVia": {
                    "referenceName": "integrationRuntime1",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks2')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://eastus.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDatabricks2_accessToken')]"
                    },
                    "existingClusterId": "0409-191824-maids925"
                },
                "connectVia": {
                    "referenceName": "integrationRuntime1",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDW1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureSqlDW",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSqlDW1_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureStorage1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureStorage",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('AzureStorage1_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/HttpServer1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "HttpServer",
                "typeProperties": {
                    "url": "http://api.openweathermap.org/data/2.5/forecast?id=5809844&APPID=c13857955c096c7ef9c0397aca6cf06f",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureStorage_Staging')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureStorage",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('AzureStorage_Staging_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AKV_LS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "https://makkv001.vault.azure.net/"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Databricks Blob LS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureStorage",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('Databricks Blob LS_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Destination_SQLDW_kwy')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureSqlDW",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('Destination_SQLDW_kwy_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Source_SQLDW_kwy')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureSqlDW",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('Source_SQLDW_kwy_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/linkedService1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "HttpServer",
                "typeProperties": {
                    "url": "https://prod-56.westus.logic.azure.com:443/workflows/8610407191c34c7c8d818cec63ad4f70/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1sI5gUoZPLSxgDnSmwsPTMmArPhCSztcxJ2ShK4Cu9k",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Basic",
                    "userName": "[parameters('linkedService1_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('linkedService1_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AmazonS32')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AmazonS3",
                "typeProperties": {
                    "accessKeyId": "[parameters('AmazonS32_properties_typeProperties_accessKeyId')]",
                    "secretAccessKey": {
                        "type": "SecureString",
                        "value": "[parameters('AmazonS32_secretAccessKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/SqlDB_WM')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('SqlDB_WM_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Water Demo with Params')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "description": "Water demo with parameters options",
                "activities": [
                    {
                        "name": "Aggregate on Spark",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Load NOAA Water",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "notebookPath": {
                                "value": "@pipeline().parameters.Notebook",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "input": "markkromer"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks2",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load Weather",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "HttpSource",
                                "httpRequestTimeout": "00:01:40"
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "cod: cod, message: nmessage, cnt: cnt, list: list, city.id: cityid, city.name: cityname, city.country: citycountry, city.coord.lat: citycoordlat, city.coord.lon: citycoordlon"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Weather_Http",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Weather",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Counties",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Weather",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "FileSystemSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "countyname: countyname, fips: fips"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "CountyName_AWS",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load_Counties",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load Drought",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Counties",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ReleaseDate: ReleaseDate, FIPS: FIPS, County: County, State: State, None: None, D0: D0, D1: D1, D2: D2, D3: D3, D4: D4, ValidStart: ValidStart, ValidEnd: ValidEnd, StatisticFormatID: StatisticFormatID"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Drought_Meas",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load Drought",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Load NOAA Water",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Load Drought",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "enableSkipIncompatibleRow": true,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "STATION: STATION, NAME: NAME, LATITUDE: LATITUDE, LONGITUDE: LONGITUDE, ELEVATION: ELEVATION, DATE: DATE, DAPR: DAPR, DAPR_ATTRIBUTES: DAPR_ATTRIBUTES, DASF: DASF, DASF_ATTRIBUTES: DASF_ATTRIBUTES, MDPR: MDPR, MDPR_ATTRIBUTES: MDPR_ATTRIBUTES, MDSF: MDSF, MDSF_ATTRIBUTES: MDSF_ATTRIBUTES, PRCP: PRCP, PRCP_ATTRIBUTES: PRCP_ATTRIBUTES, SNOW: SNOW, SNOW_ATTRIBUTES: SNOW_ATTRIBUTES, SNWD: SNWD, SNWD_ATTRIBUTES: SNWD_ATTRIBUTES, TAVG: TAVG, TAVG_ATTRIBUTES: TAVG_ATTRIBUTES, TMAX: TMAX, TMAX_ATTRIBUTES: TMAX_ATTRIBUTES, TMIN: TMIN, TMIN_ATTRIBUTES: TMIN_ATTRIBUTES, TOBS: TOBS, TOBS_ATTRIBUTES: TOBS_ATTRIBUTES"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "WaterMeas_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "Load NOAA Water",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Aggregate on ADW",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Load County Buckets to DW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "BUCKET_PRCP_ATTRIBUTES"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDW1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Load County Buckets to DW",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on Spark",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": true,
                            "stagingSettings": {
                                "linkedServiceName": {
                                    "referenceName": "AzureStorage_Staging",
                                    "type": "LinkedServiceReference"
                                },
                                "path": "mycontainer"
                            },
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "FIPS_RANGE: FIPS_range, FCount: FCount"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "Databricks_Blob",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DW County Buckets",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Send Failure Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-29.westus.logic.azure.com:443/workflows/be21e2dae40c4585ac709cdd5570e410/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nhWaehatIPJRUF4beWdwWku_5YwYd-z8Rl-GZPYguwk",
                            "method": "POST",
                            "headers": {}
                        }
                    },
                    {
                        "name": "Send Success Email",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Aggregate on ADW",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "url": "https://prod-57.westus.logic.azure.com:443/workflows/a1ac9ff188cb4d92b7db128ac0e43091/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6E7r6WcboyXijEfyuRzEMfmVJgYj-MGHuQtQAUL6S8k",
                            "method": "POST",
                            "headers": {}
                        }
                    }
                ],
                "parameters": {
                    "Notebook": {
                        "type": "String",
                        "defaultValue": "/Users/makromer@microsoft.com/adftutorial/myscalanotebook"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]",
                "[concat(variables('factoryId'), '/datasets/Weather_Http')]",
                "[concat(variables('factoryId'), '/datasets/Load_Weather')]",
                "[concat(variables('factoryId'), '/datasets/CountyName_AWS')]",
                "[concat(variables('factoryId'), '/datasets/Load_Counties')]",
                "[concat(variables('factoryId'), '/datasets/Drought_Meas')]",
                "[concat(variables('factoryId'), '/datasets/Load Drought')]",
                "[concat(variables('factoryId'), '/datasets/WaterMeas_Blob')]",
                "[concat(variables('factoryId'), '/datasets/Load NOAA Water')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW1')]",
                "[concat(variables('factoryId'), '/datasets/Databricks_Blob')]",
                "[concat(variables('factoryId'), '/datasets/DW County Buckets')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureStorage_Staging')]"
            ]
        }
    ]
}